<link rel="stylesheet" type="text/css" href="/css/404.css">
<div id="main-body">
    <div id="menu">
<div id="list-menu">

    <ul class="vertical-list">
        <li style="margin-top:0rem !important;"><a href="/" ><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="/problem" ><i class="fa-solid fa-laptop-code"></i> Problems</a></li>
        <li onclick="showMenu()" style="cursor: pointer;"><a><i class="fa-solid fa-bars-staggered"></i> Categories</a>
            <div class="dropdown-content" id="catList" style="user-select: none;">
        <a href="/category/Recursion">Recursion</a>
        <a href="/category/Linked+List">Linked List</a>
        <a href="/category/Stack">Stack</a>
        <a href="/category/Queue">Queue</a>
        <a href="/category/Tree">Tree</a>
        <a href="/category/Binary+Tree">Binary Tree</a>
        <a href="/category/BST">BST</a>
        <a href="/category/Maps">Maps</a>
        <a href="/category/OOPs">OOPs</a>
        <a href="/category/Prority+Queue">Prority Queue</a>
        <a href="/category/Trie">Trie</a>
        <a href="/category/DP">DP</a>
        <a href="/category/Graph">Graph</a>
        <a href="/category/Backtracking">Backtracking</a>
        <a href="/category/Array">Array</a>
        <a href="/category/String">String</a>
        <a href="/category/Bit+Manipulation">Bit Manipulation</a>
        <a href="/category/Pointers">Pointers</a>
        <a href="/category/Mathematical">Mathematical</a>
        <a href="/category/Others">Others</a>
        </div>
        </li>
        <li><a href="/contests"><i class="fa-brands fa-free-code-camp"></i> Contests</a></li>
        <li onclick="showOptions()" style="cursor: pointer;"><a><i class="fa-solid fa-keyboard"></i> Practice</a>
            <div class="dropdown-content" id="platList" style="user-select: none; top:30%">
            <a href="/practice/all">All Platforms</a>
            <a href="/practice/Leetcode">Leetcode</a>
            <a href="/practice/GeeksforGeeks">GeeksforGeeks</a>
            <a href="/practice/Codechef">Codechef</a>
            <a href="/practice/Codeforces">Codeforces</a>
            <a href="/practice/HackerRank">HackerRank</a>
            <a href="/practice/HackerEarth">HackerEarth</a>
            </div>
        </li>
        <li><a href="/documents"><i class="fa-solid fa-file"></i> Documents</a></li>
        <li><a href="/tasklist"><i class="fa-solid fa-clipboard-list"></i> Task List</a></li>
        <li><a href="/code"> <i class="fa-solid fa-code"></i> Codes</a></li>
        <li><a href="/users/profile/<%=locals.user._id %>"><i class="fa-solid fa-address-card"></i> Profile Settings</a></li>
    </ul>
</div>
<div id="btn-out">
    <a href="/users/sign-out">Sign Out</a>
</div>
<div id="rights">
    @Everlast Notes, All Rights Reserved
</div>

</div>
    <div id="data">
        <div class="empty-state animate__animated animate__pulse">
            <div class="empty-state__content">
              <div class="empty-state__icon">
                <img src="/images/404-3025721-2526919.png" alt="no-result-found">
              </div>
              <div class="empty-state__message">Looks like you're lost</div>
              <div class="empty-state__help">
                The page you are looking for is not available!
              </div>
            </div>
        </div>
    </div>
</div>
