<nav style="z-index:1030;">
    <div id="left">
        <div id="img">
            <a href="/"><img src="/images/Group.png"></img></a>
        </div>
    </div>
    <div id="right">
        <div id="search">
            <button id="search-btn" style="margin-left:5px;"><i class="fa fa-search" aria-hidden="true"></i></button>
            <% if(title.startsWith("Todos")){%>
                <input type="text" id="search-box" onkeyup="searchTasks(this)" placeholder="Search for tasks todo...">
            <%}else if(title.startsWith("Documents")){%>
                <input type="text" id="search-box" onkeyup="searchFiles(this)" placeholder="Search for your uploaded Files...">
            <%}else if(title.startsWith("Code")){%>
                <input type="text" id="search-box" onkeyup="searchCodes(this)" placeholder="Search for stored codes snippets...">
            <%}else{%>
                <input type="text" id="search-box" onkeyup="searchProblems(this)" placeholder="Search for solved problems...">
            <%}%>
            <div id="searchResults" class="dropdown-content" style="display:block;top:5.8vh;left:17%;font-family: 'Gilroy-Medium', sans-serif;opacity:0.95;width:500px;max-height:400px;overflow-y:auto;">
                <!-- search results -->
            </div>
        </div>
        <div id="profile">
            <div id="notification" style="width:50px;">
            <div style="color:white;font-size:1.3rem;cursor: pointer;" onclick="showNoty()" data-toggle="tooltip" data-placement="top" title="View Notifications"><i class="fa fa-bell" aria-hidden="true"></i></div>
            <div id="notificationResults" class="dropdown-content" style="top:5.8vh;left: 70%;right:140px;font-family: 'Gilroy-Medium', sans-serif;opacity:0.95;user-select: none;">
                <a class="animate__animated animate__fadeIn">Great video my friend, I really wanted to learn how to implement this functionality.</a>
                <a class="animate__animated animate__fadeIn">Great video my friend, I really wanted to learn how to implement this functionality.</a>
                <a class="animate__animated animate__fadeIn">Great video my friend, I really wanted to learn how to implement this functionality.</a>
                <a class="animate__animated animate__fadeIn">Great video my friend, I really wanted to learn how to implement this functionality.</a>
            </div>
            </div>
           <a href="/users/profile/<%=locals.user._id %>" data-toggle="tooltip" data-placement="top" title="View Profile"><img src="<%=locals.user.avatar%>"></img></a>
        </div>
    </div>
</nav>