<nav>
    <div id="left">
        <div id="img">
            <a href="#"><img src="/images/Group.png"></img></a>
        </div>
    </div>
    <div id="right">
        <div id="profile">
           <a href="#"><img src="/images/2021-04-02 14.31.05.jpg"></img></a>
        </div>
    </div>
</nav>