<link rel="stylesheet" type="text/css" href="/css/login.css">
<nav>
    <div id="left">
        <div id="img">
            <a href="#"><img src="/images/Group.png"></img></a>
        </div>
    </div>
    <div id="right">
        <div class="dropdown" style="float:right;">
        <a href="/users/signup" class="TextinBlock" style="text-decoration:none;">Create Account</a>
        </div>
    </div>
</nav>
<div id="social">
    <a id="linkedin" class="social-btn" target="_blank" href="https://www.linkedin.com/in/lalit-kushwah-nitc"><img class="social-img" src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000015_1549330433_linkedin-logo.png" alt="in"></a>

    <a id="facebook" class="social-btn" target="_blank" href="https://www.facebook.com/profile.php?id=100004523837975"><img class="social-img" src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000014_1549330414_facebook-logo.png" alt="fb"></a>

    <a id="github" class="social-btn" target="_blank" href="https://github.com/kushwah-lalit"><img class="social-img" src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" alt="git"></a>

    <a id="instagram" class="social-btn" target="_blank" href="https://www.instagram.com/lalit_kushwah_24/"><img class="social-img" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="insta"></a>

    </div>
    <div class="content" >
        <div id="top">
            Welcome to Everlast Notes !
        </div>
        <div id="middle">
            Manage your competitive programming problem's codes, notes, pdfs, code snippets, upcoming tasks, and get coding statistics at single place.
        </div>
        <div id="loginbtn">
            <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png">&nbsp &nbsp<a href="/users/auth/google">Continue with Google</a>
        </div>
    </div>