<link rel="stylesheet" type="text/css" href="/css/signup.css">
<nav>
    <div id="left">
        <div id="img">
            <a href="/users/login"><img src="/images/Group.png"></img></a>
        </div>
    </div>
    <div id="right">
        <div class="dropdown" style="float:right;">
        <a href="/users/login" class="TextinBlock" style="text-decoration:none;">Home</a>
        </div>
    </div>
</nav>
<!--  -->
<div id="social">
    <a id="linkedin" class="social-btn" target="_blank" href="https://www.linkedin.com/in/lalit-kushwah-nitc"><img class="social-img" src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000015_1549330433_linkedin-logo.png" alt="in"></a>

    <a id="facebook" class="social-btn" target="_blank" href="https://www.facebook.com/profile.php?id=100004523837975"><img class="social-img" src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000014_1549330414_facebook-logo.png" alt="fb"></a>

    <a id="github" class="social-btn" target="_blank" href="https://github.com/kushwah-lalit"><img class="social-img" src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" alt="git"></a>

    <a id="instagram" class="social-btn" target="_blank" href="https://www.instagram.com/lalit_kushwah_24/"><img class="social-img" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="insta"></a>

    </div>
    <!--  -->
    <div class="content" >
        <div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/users/create" method="post">
            <h1>Create Account</h1>
            <div class="social-container">
             <div id="loginbtn">
             <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png">&nbsp &nbsp<a href="/users/auth/google">Sign Up with Google</a>
             </div>
            </div>
            <span>or use your email for registration</span>
            <input type="text" name="name" placeholder="Name" required />
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="password" name="confirmpassword" placeholder="Confirm Password" required />
            <span style="margin: 15px 0;">*Verify Account using email sent on sign up</span>
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/users/create-session" method="post">
            <h1>Sign In</h1>
             <div id="loginbtn">
             <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png">&nbsp &nbsp<a href="/users/auth/google">Sign In with Google</a>
             </div>
            <span>or use your account</span>
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            <a href="/users/forgot-password">Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
    </div>
    <!--  -->
<script  src="/js/signup.js"></script>