body {
  margin: 0px;
  background: #0A0C10; }

nav {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  /*	border: 3px #262837 solid; */ }

#right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 10%; }

#left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 16%;
  /*	border: 3px #262837 solid; */
  background: #171B21;
  height: 100%; }

#img img {
  width: 235px; }

@media screen and (max-width: 1400px) {
  #img img {
    width: 200px; } }

@media screen and (max-width: 1000px) {
  #img img {
    width: 170px; } }

@media screen and (max-width: 700px) {
  #img img {
    width: 150px; } }

#profile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px #838383 solid; }

.TextinBlock {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 25px;
  letter-spacing: 0.045em;
  /* main text color */
  color: #FFFFFF; }

#social {
  position: fixed;
  top: 20%;
  right: 0px; }

#social .social-btn {
  display: block;
  padding: 14px 13px; }

#social .social-img {
  width: 23px; }

#hackerrank {
  background-color: #38424f; }

#hackerrank:hover {
  background-color: #0d141e; }

#leetcode {
  background-color: white; }

#leetcode:hover {
  background-color: grey; }

#gfg {
  background-color: #f95347; }

#gfg:hover {
  background-color: #124f5d; }

#codeforces {
  background-color: #3b5998; }

#codeforces:hover {
  background-color: #2d4373; }

#codechef {
  background-color: burlywood; }

#codechef:hover {
  background-color: sandybrown; }

#hackerearth {
  background-color: silver; }

#hackerearth:hover {
  background-color: powderblue; }

/**/
/*dropdown list*/
/*.dropdown {
  position: relative;
  display: inline-block;
}*/
.dropdown-content {
  display: none;
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: #0A0C10;
  opacity: 0.9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  text-align: left;
  border-radius: 15px; }

.dropdown-content a {
  margin: none !important;
  padding: 12px 16px;
  display: block;
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem !important;
  line-height: 21px;
  letter-spacing: 0.045em;
  color: #838383;
  text-decoration: none;
  text-align: left;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }

.dropdown-content a:hover {
  background-color: black;
  color: white;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }

.dropdown:hover .dropdown-content {
  display: block;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }

/**/
/* Horizontal Lists */
.vertical-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px; }

.vertical-list li {
  margin: 1.6rem 2.8rem 2.8rem 1.6rem; }

.vertical-list li a {
  font-family: 'Gilroy-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 21px;
  letter-spacing: 0.045em;
  color: #838383;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }

.vertical-list li a:hover {
  color: white;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }

/**/
.highlighted {
  color: #FFFFFF !important; }

/*unique content*/
#main-body {
  width: 100%;
  height: 99vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

#menu {
  width: 16%;
  height: 93vh;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*	border: 3px #262837 solid; */
  background: #171B21; }

#data {
  margin-left: 1%;
  width: calc(83% - 64px);
  height: 93vh;
  margin-top: 7vh;
  /*border: 3px #262837 solid;*/
  overflow-y: auto; }

#list-menu {
  height: 88%;
  width: 96%;
  padding: 2rem; }

#btn-out {
  height: 6%;
  width: 80%;
  background-color: #0A0C10;
  text-align: center;
  border-radius: 24px;
  margin: 1.8rem 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center; }

#btn-out a {
  font-family: 'Gilroy-Medium', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 21px;
  letter-spacing: 0.045em;
  color: white;
  text-decoration: none;
  text-align: center;
  transition-duration: 2s; }

#btn-out:hover {
  border: 1px white solid;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out; }

#rights {
  height: 4%;
  width: 96%;
  font-family: 'Gilroy-Light', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 0.9rem;
  line-height: 21px;
  letter-spacing: 0.045em;
  color: #838383;
  text-align: center; }

#shortdata {
  box-sizing: border-box;
  width: 100%;
  /*  height:60vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1%;
  margin-top: 0.5rem;
  background-color: #171B21;
  border-radius: 24px;
  padding: 2rem; }

.brick {
  box-sizing: border-box;
  width: 100%;
  height: 18%;
  /*	background-color:#171B21;*/
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*padding:2rem;*/ }

#lastrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.form-container {
  color: #838383;
  padding: 0.8rem;
  padding-left: 1.2rem;
  width: 100%;
  background: #171B21;
  border: 2px solid #363640;
  box-sizing: border-box;
  border-radius: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.045em;
  font-family: 'Gilroy-Medium';
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.form-container:focus {
  outline: none;
  background: #0A0C10;
  border: 2px #838383 solid;
  color: white; }

.form-container:hover {
  border: 2px white solid; }

.submit {
  background: #389810;
  border: none;
  padding: 0.8rem;
  /* border: 1px white solid;*/
  font-family: 'Gilroy-Medium';
  color: white;
  text-align: center;
  border-right: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.045em;
  font-family: 'Gilroy-Medium';
  border-radius: 17px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.submit:hover {
  border: 2px white solid; }

.item {
  display: flex;
  position: sticky;
  top: 0%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  justify-content: space-between;
  /*	background-color: #0A0C10;*/
  /*border-radius: 35px;*/
  box-sizing: border-box;
  /*	padding: 2rem;*/
  /*border: 1px red solid;*/
  background: #0A0C10; }

.item div {
  font-family: 'Gilroy-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.045em;
  color: rgba(255, 255, 255, 0.87);
  padding: 1rem 1rem;
  text-align: left; }

#listitems {
  box-sizing: border-box;
  width: 100%;
  /*  height:60vh;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  /*margin-bottom:1%;*/
  margin-top: 0.5%;
  /*background-color:#171B21;*/
  /*	border-radius:24px;
padding:2rem;*/ }

#listitems img {
  width: 30%;
  margin: auto;
  margin-top: 10%; }

.brick {
  box-sizing: border-box;
  width: 32.5%;
  height: 17vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: space-around;
  justify-content: center;
  margin-bottom: 1%;
  margin-left: 0.42%;
  margin-right: 0.41%;
  background-color: #171B21;
  border-radius: 20px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }

.brick:hover {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border: 2px solid #18A0FB; }

#name {
  width: 95%;
  padding: 1rem 2rem;
  font-family: 'Gilroy-Medium', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.045em;
  text-align: left;
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: auto; }

#name a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none; }

#tags {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: column;
  padding-top: 0.2rem; }

#tag {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.045em;
  color: #FFFFFF;
  background-color: #F97600;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  margin-right: 0.5rem; }

#tools {
  width: 90%;
  margin-top: 0.8rem;
  font-family: 'Gilroy-Light', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.045em;
  text-align: right; }

#tools a {
  padding: 0rem 0.7rem;
  color: #D6D6D6;
  text-decoration: none; }

#tools a:hover {
  color: #18A0FB; }

#delete:hover {
  color: red !important; }
