@charset "UTF-8";
#shortdata {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1%;
  margin-top: 0.5rem;
  background-color: #171B21;
  border-radius: 24px;
  padding: 3rem; }

#pic {
  /*	background-color:#171B21;*/
  border-radius: 24px;
  box-sizing: border-box;
  width: 70%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*	border: 2px red solid;*/
  margin: auto;
  padding-top: 7%;
  padding-bottom: 7%;
  box-sizing: border-box; }

#mainInfo {
  width: 50%;
  height: 50%;
  /*	border: 2px red solid;*/
  display: flex;
  align-items: center;
  justify-content: space-around; }

#userInfo {
  width: 100%;
  height: 23%;
  /*border: 2px red solid;*/
  display: flex;
  align-items: center;
  justify-content: space-around; }

#centerInfo {
  width: 44%;
  height: 95%;
  /*	border: 2px red solid;*/ }

#leftInfo {
  width: 28%;
  height: 95%;
  /*	border: 2px red solid;*/ }

#rightInfo {
  width: 28%;
  height: 95%;
  /*	border: 2px red solid;*/ }

#bottomInfo {
  height: 23%;
  width: 40%;
  /*	border: 2px red solid;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: -7%; }

.brick {
  box-sizing: border-box;
  width: 100%;
  height: 18%;
  /*	background-color:#171B21;*/
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*padding:2rem;*/ }

#topic {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: 800;
  font-size: 1.1em;
  line-height: 28px;
  letter-spacing: 0.045em;
  color: white;
  text-align: left;
  width: 45%; }

#stat {
  width: 45%;
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 28px;
  letter-spacing: 0.045em;
  color: #6BAAED;
  text-align: right; }

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 98%;
  /*	background-color: #0A0C10;*/
  /*border-radius: 35px;*/
  box-sizing: border-box;
  /*	padding: 2rem;*/
  /*border: 1px red solid;*/ }

.item div {
  font-family: 'Gilroy-Light', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.045em;
  color: rgba(255, 255, 255, 0.87);
  padding: 1rem 2rem;
  text-align: left; }

.form-container input {
  color: #838383;
  padding: 0.6rem;
  text-align: center;
  width: 80%;
  background: #171B21;
  border: 2px solid #363640;
  box-sizing: border-box;
  border-radius: 17px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.045em;
  font-family: 'Gilroy-Medium'; }

.form-container input:focus {
  outline: none !important;
  background: #0A0C10;
  border: 2px #838383 solid;
  color: white; }

.form-container input:hover {
  border: 2px white solid; }

.form-container button {
  background: #287ECD;
  border: none;
  padding: 0.6rem;
  /* border: 1px white solid;*/
  font-family: 'Gilroy-Medium';
  color: white;
  border: 2px #287ECD solid;
  text-align: center;
  border-right: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.045em;
  font-family: 'Gilroy-Medium';
  width: 20%;
  border-radius: 17px;
  position: relative;
  right: 1%; }

.form-container button:hover {
  border: 2px white solid; }

.form-container {
  width: 95%;
  box-sizing: border-box;
  height: 25%; }

.avatar-wrapper {
  position: relative;
  height: 350px;
  width: 350px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  /*  box-shadow: 1px 1px 15px -5px black;*/
  transition: all 0.3s ease;
  /*  border: 2px #838383 solid;  */ }

.avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer; }

.avatar-wrapper:hover .profile-pic {
  opacity: 0.5; }

.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease; }

.avatar-wrapper .profile-pic:after {
  font-family: FontAwesome;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 190px;
  background: #ecf0f1;
  color: #34495e;
  text-align: center; }

.avatar-wrapper .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.avatar-wrapper .upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 414px;
  top: -30px;
  left: -2px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: white; }

.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
  opacity: 0.3; }
